<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var data = JSON.parse('{{ data_json|safe }}'); // Asegúrate de pasar correctamente los datos JSON desde Django
        
        var years = data.map(function(item) {
            return item['year'];
        });
        
        var sales = data.map(function(item) {
            return item['Sales'];
        });
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: years,
                datasets: [{
                    label: 'Sales',
                    data: sales,
                    backgroundColor: 'darkblue',
                    borderColor: 'darkblue',
                    fill: false
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        
    </script>
    
</body>
</html>
