{% extends "layout.html" %}
{% block section %} Clientes {%endblock%}
{% block content %}
<!-- ##################################################################### -->
<div class="row">

  <div class="col-lg-4">
    <div class="card p-3">
      <h1>sales_per_city</h1>
                {{sales_per_city}}
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card p-3">
      <h1>most_valuable_customer</h1>
                {{most_valuable_customer}}
    </div>
  </div>

</div>
<div class="card p-3">
  <h1>customers</h1>
                {{customers}}
</div>     
<!-- ##################################################################### -->
{% endblock %}