{% extends "layout.html" %}
{% block title %}Orders{% endblock %}

{% block section %}<i data-feather="truck"></i> Orders {%endblock%}
{% block content %}
<h4  data-aos="fade-zoom-in">Monthly Sales per year</h4>
<div class="card amount_of_sales_per_month_and_year">
    <canvas  id="amount_of_sales_per_month_and_year"></canvas>
</div>
<div class="row ">
    <div class="col-lg-7">
        <h4  data-aos="fade-zoom-in" class="mt-3">Avg Delivery Time per Month (Hours)</h4>
        
        <div class="card p-3 monthly_delivery_time"  data-aos="fade-zoom-in">
          {% comment %} {{monthly_delivery_time}}  {% endcomment %}
          <canvas  id="monthly_delivery_time"></canvas>
        </div> 
        </div>

    <div class="col-lg-5">
        <h4 data-aos="fade-zoom-in" data-aos-delay="100"  class="mt-3">Ship Mode Delivery Time</h4>
        <div class="card p-3 align-items-center avg_delivery_time_per_ship_mode" data-aos="fade-zoom-in" data-aos-delay="150">
        {% comment %} {{avg_delivery_time_per_ship_mode}} {% endcomment %}
        <canvas  id="avg_delivery_time_per_ship_mode"></canvas>
            </div>
    </div>
</div>
<h4 data-aos="fade-zoom-in" data-aos-delay="150" class="mt-3">All orders</h4>
<div class="card p-3 " data-aos="fade-zoom-in" data-aos-delay="250">
    <table class="table table-striped mb-6">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Name</th>
                <th>Order Date</th>
                <th>Ship Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in page_obj %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.customer_name }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.ship_date }}</td>
                <td>${{ order.sales }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page >= page_obj.number|add:"-3" and page <= page_obj.number|add:"3" %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        </ul>
    </nav>    
</div> 
{% endblock %}  
<!-- ############################################################################################### -->

    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('amount_of_sales_per_month_and_year').getContext('2d');
            var data = JSON.parse('{{ amount_of_sales_per_month_and_year|safe }}'); // Asegúrate de pasar correctamente los datos JSON desde Django
        
            var ship_mode = data.map(function(item) {
                return item['year_month'];
            });
        
            var delivery = data.map(function(item) {
                return item['Sales'];
            });
        
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ship_mode,
                    datasets: [{
                        label: 'Sales per month',
                        data: delivery,
                        fill: true, // Indica que se debe llenar el área bajo la línea
                        backgroundColor: 'rgba(136, 80, 241, 0.3)', // Color violeta con poca opacidad
                        borderColor: '#8850F1', // Color de la línea
                        borderWidth: 2 // Grosor de la línea
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: false,
                            title: {
                                display: true,
                                text: 'Sale Amount',
                                font: {
                                    size: 16
                                }
                            },
                            ticks: {
                                font: {
                                    size: 14
                                }
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Date',
                                font: {
                                    size: 16
                                }
                            },
                            ticks: {
                                font: {
                                    size: 14
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>

    <script>
      var ctx = document.getElementById('avg_delivery_time_per_ship_mode').getContext('2d');
      var data = JSON.parse('{{avg_delivery_time_per_ship_mode|safe}}');
      
      var ship_mode = data.map(function(item) {
          return item['Ship Mode'];
      });
      
      var delivery = data.map(function(item) {
          return item['delivery'];
      });
    
      var colors = ['#8850F1',  '#B48DF9', '#A370F7', '#C3A6FA'];
      
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ship_mode,
              datasets: [{
                  label: 'Avg delivery time',
                  data: delivery,
                  backgroundColor: colors,
                  fill: false
              }]
          },
          options: {
              indexAxis: 'y',
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
    
    </script>

    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('monthly_delivery_time').getContext('2d');
            var data = JSON.parse('{{ monthly_delivery_time|safe }}');
        
            var ship_mode = data.map(function(item) {
                return item['date'];
            });
        
            var delivery = data.map(function(item) {
                return item['average_delivery_hours'];
            });
        
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ship_mode,
                    datasets: [{
                        label: 'Avg delivery time',
                        data: delivery,
                        fill: false,
                        pointRadius: 5,
                        pointHoverRadius: 5,
                        borderColor: '#8850F1',
                        backgroundColor: '#8850F1'
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: false,
                            title: {
                                display: true,
                                text: 'Average Delivery Hours',
                                font: {
                                    size: 16 
                                }
                            },
                            ticks: {
                                font: {
                                    size: 14 
                                }
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Month - Year',
                                font: {
                                    size: 16 
                                }
                            },
                            ticks: {
                                font: {
                                    size: 14 
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
    
      
{% endblock %}