{% extends "layout.html" %}
{% block section %} Pedidos {%endblock%}
{% block content %}

<div class="row mb-3">

  <div class="col-lg-4">
    <div class="card p-3" style="height:65vh">
      <h1>Tiempo promedio de envío en horas</h1>
      {% comment %} {{avg_delivery_time_per_ship_mode}} {% endcomment %}
      <canvas  id="avg_delivery_time_per_ship_mode"></canvas>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card p-3" style="height:65vh">
      <h1>Average Delivery time per month (in hrs)</h1>
      {% comment %} {{monthly_delivery_time}}  {% endcomment %}
      <canvas  id="monthly_delivery_time"></canvas>
    </div>


  </div>

</div>

<div class="card p-3">
  <h1>orders</h1>
  {{orders}}
</div> 

{% endblock %}  
<!-- ############################################################################################### -->

    {% block scripts %}

    <script>
      {% comment %} CUARTO GRÁFICO  {% endcomment %}
      var ctx = document.getElementById('avg_delivery_time_per_ship_mode').getContext('2d');
      var data = JSON.parse('{{avg_delivery_time_per_ship_mode|safe}}'); // Asegúrate de pasar correctamente los datos JSON desde Django
      
      var ship_mode = data.map(function(item) {
          return item['Ship Mode'];
      });
      
      var delivery = data.map(function(item) {
          return item['delivery'];
      });
    
      // Define un array de colores
      var colors = ['lightblue', 'darkgreen', 'coral', 'salmon'];
      
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ship_mode,
              datasets: [{
                  label: 'Avg delivery time',
                  data: delivery,
                  backgroundColor: colors,
                  fill: false
              }]
          },
          options: {
              indexAxis: 'y',
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
    
    </script>
    <script>
      {% comment %} CUARTO GRÁFICO  {% endcomment %}
      var ctx = document.getElementById('monthly_delivery_time').getContext('2d');
      var data = JSON.parse('{{monthly_delivery_time|safe}}'); // Asegúrate de pasar correctamente los datos JSON desde Django
      
      var ship_mode = data.map(function(item) {
          return item['date'];
      });
      
      var delivery = data.map(function(item) {
          return item['average_delivery_hours'];
      });
    
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ship_mode,
              datasets: [{
                  label: 'Avg delivery time',
                  data: delivery,
                  fill: false,
                  pointRadius: 7,
                  pointHoverRadius: 7
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
    
    </script>

    {% endblock %}

