{% extends "layout.html" %}
{% block title %}Products{% endblock %}

{% block section %} <i data-feather="package"></i> Products {%endblock%}
{% block content %}

<div class="row">
    <div class="col-4">
      <h4 data-aos="fade-zoom-in">Revenue per Segment</h4>
      <div class="card p-1 align-items-center" style="height:45vh" data-aos="fade-zoom-in" data-aos-delay="100">
        <canvas  id="best_segments"></canvas>
        </div> 
    </div>
    <div class="col-8">
      <h4 data-aos="fade-zoom-in">10 Best Selling Sub Categories</h4>
      <div class="card p-1 mb-2" style="height:45vh" data-aos="fade-zoom-in" data-aos-delay="100">
        <canvas id="best_selling_sub_categories"></canvas>
        </div> 
    </div>
</div>

{% comment %} <h4 data-aos="fade-zoom-in">Best Selling Products <span class="text-muted">(All time)</span></h4> {% endcomment %}
  <h4 data-aos="fade-zoom-in" data-aos-delay="500">All Products</h4>
  <div class="card p-4" style="height:730px" data-aos="fade-zoom-in" data-aos-delay="200"> 
    <table class="table table-striped mb-6">
      <thead>
        <tr>
          <th>Product</th>
          <th>Main Category</th>
          {% comment %} <th>Subcategory</th> {% endcomment %}
          <th>Sales</th>
          </tr>
          </thead>
          <tbody>
            {% for producto in best_selling_products %}
            <tr>
              <td>{{ producto.Product|truncatechars:60 }}</td>
              <td>{{ producto.MainCategory }}</td>
              {% comment %} <td>{{ producto.Subcategory }}</td> {% endcomment %}
              <td>{{ producto.Sales }}</td>
              </tr>
              {% endfor %}
              </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/products?page={{pagination.first_page}}">First</a></li>
                  {% for page in pagination.pages %}
                  <li class="page-item"><a class="page-link {% if page == pagination.active_page %}active{% endif %}" href="http://127.0.0.1:8000/products?page={{page}}">{{page}}</a></li>
                  {% endfor %}
                  <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/products?page={{pagination.last_page}}">Last</a></li>
                  </ul>
       </nav>
      </div>
</div>           

{% endblock %}

{% block scripts %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var ctx = document.getElementById('best_selling_sub_categories').getContext('2d');
      var data = JSON.parse('{{ best_selling_sub_categories|escapejs }}'); 
  
      var subcategory = data.map(function(item) {
          return item["Sub-Category"];
      });
  
      var sales = data.map(function(item) {
          return item.Sales;
      });
  
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: subcategory,
              datasets: [{
                  label: 'Sales',
                  data: sales,
                  backgroundColor: '#8850F1',
                  borderColor: '#8850F1',
                  borderWidth: 1
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  y: {
                      beginAtZero: true,
                      title: {
                          display: true,
                          text: 'Revenue (USD)'
                      }
                  },
                  x: {
                      title: {
                          display: true,
                          text: 'Sub-Category'
                      }
                  }
              }
          }
      });
  });
</script>


<script>
  var ctx = document.getElementById('best_segments').getContext('2d');
  var data = JSON.parse('{{best_segments|safe}}');
  
  var ship_mode = data.map(function(item) {
      return item['Segment'];
  });
  
  var delivery = data.map(function(item) {
      return item['Sales'];
  });

  // Define un array de colores
  var colors = ['#8850F1',  '#B48DF9', '#A370F7', '#C3A6FA'];
  
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ship_mode,
          datasets: [{
              label: 'Avg delivery time',
              data: delivery,
              backgroundColor: colors,
              fill: false
          }]
      },
      options: {
          indexAxis: 'y',
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });

</script>
{% endblock %}
