{% extends "layout.html" %}
{% block section %} <i data-feather="package"></i> Products {%endblock%}
{% block content %}

<h4 data-aos="fade-zoom-in">Best Selling Sub Categories</h4>
<div class="card p-5 mb-2" style="height:650px" data-aos="fade-zoom-in" data-aos-delay="100">
  {% comment %} <h1>{{best_selling_sub_categories}}</h1> {% endcomment %}
  <canvas  id="best_selling_sub_categories"></canvas>
</div> 
<h4 data-aos="fade-zoom-in" data-aos="fade-zoom-in" data-aos-delay="250">All Products</h4>
<div class="card p-5 mb-2" data-aos="fade-zoom-in" data-aos-delay="250">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Products</th>
      <th scope="col">Main Category</th>
      <th scope="col">Sub Category</th>
      <th scope="col">Amount of Sales</th>
    </tr>
  </thead>
  <tbody>
    {%for producto in productos%}
    {% comment %} {'Product': 'Staple envelope', 'MainCategory': 'Office Supplies', 'Subcategory': 'Envelopes', 'Sales': 47} {% endcomment %}
    <tr>
      <td>{{ producto.Product}}</td>
      <td>{{producto.MainCategory}}</td>
      <td>{{producto.Subcategory}}</td>
      <td>{{producto.Sales}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
  {% comment %} <h1>{{productos}}</h1> {% endcomment %}
    {% comment %} <canvas  id="best_selling_sub_categories"></canvas> {% endcomment %}
</div>            
{% endblock %}


{% block scripts %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var ctx = document.getElementById('best_selling_sub_categories').getContext('2d');
      var data = JSON.parse('{{ best_selling_sub_categories|escapejs }}'); // Ensure data is correctly escaped and parsed
  
      var subcategory = data.map(function(item) {
          return item["Sub-Category"];
      });
  
      var sales = data.map(function(item) {
          return item.Sales;
      });
  
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: subcategory,
              datasets: [{
                  label: 'Sales',
                  data: sales,
                  backgroundColor: '#8850F1',
                  borderColor: '#8850F1',
                  borderWidth: 1
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  y: {
                      beginAtZero: true,
                      title: {
                          display: true,
                          text: 'Income (USD)'
                      }
                  },
                  x: {
                      title: {
                          display: true,
                          text: 'Sub-Category'
                      }
                  }
              }
          }
      });
  });
</script>

{% endblock %}
