{% extends "layout.html" %}

{% block section %} Productos {%endblock%}


{% block content %}

<div class="card p-5 mb-2" style="height:650px">
  {% comment %} <h1>{{best_selling_sub_categories}}</h1> {% endcomment %}
  Best Selling Sub Categories
  <canvas  id="best_selling_sub_categories"></canvas>
</div> 
         
<table class="table">
  <thead>
    <tr>
      <th scope="col">Products</th>
      <th scope="col">Main Category</th>
      <th scope="col">Sub Category</th>
      <th scope="col">Amount of Sales</th>
    </tr>
  </thead>
  <tbody>
    {%for producto in productos%}
    {% comment %} {'Product': 'Staple envelope', 'MainCategory': 'Office Supplies', 'Subcategory': 'Envelopes', 'Sales': 47} {% endcomment %}
    <tr>
      <td>{{ producto.Product}}</td>
      <td>{{producto.MainCategory}}</td>
      <td>{{producto.Subcategory}}</td>
      <td>{{producto.Sales}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>

  {% comment %} <h1>{{productos}}</h1> {% endcomment %}
    
    <canvas  id="best_selling_sub_categories"></canvas>
</div>            
{% endblock %}


{% block scripts %}

    <script>
      {% comment %} PRIMER GRÁFICO  {% endcomment %}
      document.addEventListener('DOMContentLoaded', function() {
          var ctx = document.getElementById('best_selling_sub_categories').getContext('2d');
          var data = JSON.parse('{{best_selling_sub_categories|escapejs }}'); // Ensure data is correctly escaped and parsed
      
          var subcategory = data.map(function(item) {
              return item["Sub-Category"] ;
          });
      
          var sales = data.map(function(item) {
              return item.Sales;
          });
           
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: subcategory,
                  datasets: [{
                      label: 'Sales',
                      data: sales,
                      backgroundColor: 'darkblue',
                      borderColor: 'darkblue',
                      borderWidth: 1
                  }]
              },
              options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
      });
  </script>
{% endblock %}
