{% extends "layout.html" %}

{% block section %} Vista general {%endblock%}
{% block content %}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card p-4 mb-2" >
                                    <h1>${{year_sales_total}}</h1>
                                    Ingresos Totales
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card p-4 mb-2" >
                                    <h1>{{year_sales_amount}}</h1>
                                    Cantidad de ventas
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card p-4 mb-2" >
                                    <h1>{{avg_delivery_time}}hr</h1>
                                    Tiempo promedio de delivery (Entrega)
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card p-4" >
                                    <h1>${{avg_income_per_costumer}}</h1>
                                    avg_income_per_costumer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mb-4">
                        <div class="card p-5" >
                            {% comment %} {{sales_per_year}} {% endcomment %}
                            <canvas id="sales_per_year"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ">
                        <div class="card p-4" style="height:600px">
                            {% comment %} <h1>{{sales_amount_per_state}}</h1> {% endcomment %}
                            Sales Amount per State
                            <canvas id="sales_amount_per_state"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card p-4"> 
                            {{best_selling_products}}
                        </div>
                    </div>
                </div>
                {% comment %} ======================================================= {% endcomment %}
                {% endblock %}
{% block scripts %}
    <script>
        {% comment %} PRIMER GRÁFICO  {% endcomment %}
        document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('sales_per_year').getContext('2d');
            var data = JSON.parse('{{ sales_per_year|escapejs }}'); // Ensure data is correctly escaped and parsed
        
            var years = data.map(function(item) {
                return item.year;
            });
        
            var sales = data.map(function(item) {
                return item.Sales;
            });
        
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: years,
                    datasets: [{
                        label: 'Sales',
                        data: sales,
                        backgroundColor: 'darkblue',
                        borderColor: 'darkblue',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
    <script>
        {% comment %} SEGUNDO GRÁFICO  {% endcomment %}
        document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('sales_amount_per_state').getContext('2d');
            var data = JSON.parse('{{ sales_amount_per_state|escapejs }}'); // Ensure data is correctly escaped and parsed
            var state = data.map(function(item) {
                return item.State;
            });
        
            var sales = data.map(function(item) {
                return item.Sales;
            });
        
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: state,
                    datasets: [{
                        label: 'Sales',
                        data: sales,
                        backgroundColor: 'darkblue',
                        borderColor: 'darkblue',
                        borderWidth: 1
                    }]
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
    {% endblock %}
